@model IEnumerable<project_asp.net.Models.Payment>

@{
    ViewData["Title"] = "Index";
}
@{
    Layout = "_AdminLayout";
}
<h1>Payments</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.reservation_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.amount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.reservation_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.amount)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.payment_id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.payment_id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.payment_id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
