@model project_asp.net.Models.ParkingHistory

@{
    ViewData["Title"] = "Details";
}
@{
    Layout = "_AdminLayout";
}

<h1>Details</h1>

<div>
    <h4>ParkingHistory</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.spot_id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.spot_id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Reservations)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Reservations.reservation_id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.entry_time)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.entry_time)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.exit_time)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.exit_time)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.history_id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
