@model IEnumerable<project_asp.net.Models.ParkingSpots>

@{
    ViewData["Title"] = "Index";
}
@{
    Layout = "_AdminLayout";
}
<h1>ParkingSpots</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.price_per_hour)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.price_per_hour)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.spot_id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.spot_id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.spot_id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
